:deep(.el-radio__inner::after) {
  width: 7px !important;
  height: 7px !important;
  background-color: #409eff;
}

:deep(.el-radio):not(.is-checked) {
  .el-radio__label {
    color: white;
  }
}

// 默认输入框长度
.wit-3{
  width: 300px;
}

.search{
  .margin-r{
    margin-right: 12px;
  }
  .margin-l{
    margin-left: 12px;
  }
}