:deep(.el-radio__inner::after) {
  width: 9px !important;
  height: 9px !important;
  background-color: #409eff;
}
:deep(.el-radio__input.is-checked .el-radio__inner){
  background: unset;
}

// 默认输入框长度
.wit-3{
  width: 300px;
}

.search{
  .margin-r{
    margin-right: 12px;
  }
  .margin-l{
    margin-left: 12px;
  }
}

:deep(.diaButton){
  min-width: 75px;
  min-height: 27px;
  font-size: 12px;
  height:27px ;
  line-height: 0;
}

// 表格操作列样式
.table-operate{
  display: flex;
  align-items: center;
  .item-span{
    color: rgb(64,158,255);
    cursor: pointer;
  }
}
.table-span{
  text-align: center;
}

// 弹窗load样式
:deep(.el-loading-mask){
  position: fixed;
}